# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Pyinstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.pytest_cache/
.cache/
.cov/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.run/

# Django / logging
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# Python environments / Virtual environments
.venv/
venv/
env/
ENV/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.env
# Environment variables & secrets
.env
.env.*
secrets.toml

# Local/OS files
.DS_Store
Thumbs.db
